<!doctype html>
<html>
	<head>
		<title>{{ site.title }}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/styles.css">

		<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32"/>
		<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16"/>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</head>
	<body class="container">
		{% include fork-me-ribbon.html %}
		{% include header.html %}

		{{ content }}
	</body>
</html>
