---
layout: default
---
<div class="post">

	<article class="post-content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<blockquote class="twitter-tweet">
					<a href="https://twitter.com/{{ page.author }}/status/{{ page.title }}"></a>
				</blockquote>
			</div>
		</div>

		<br/>

		{{ content }}
	</article>

	<div id="disqus_thread"></div>
	<script>var disqus_shortname="php-in-a-tweet";(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)})()</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>